<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>groupplayer</title>
<script type="text/javascript" charset="utf-8" src="lib/underscore.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/backbone.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/jquery-1.6.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/mustache.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/ICanHaz.js"></script>
<script type="text/javascript" charset="utf-8" src="models/gp_models.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/gp_views.js"></script>
<link rel="stylesheet" href="css/reset.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />

<script id="room_template" type="text/html">
<div id="room">
	<div id="bar">
	<h1 class="room_title">{{title}}</h1>

		<ul id="users">
		</ul>
		<div id="queue">
			<ul>
			</ul>
			<div id="add_link">
				<form accept-charset="utf-8" action="javascript:new_link($('#new_link_url').val(),$('#new_link_title').val());">
					<label for="url">URL:</label><input type="text/submit/hidden/button" name="url" id="new_link_url" placeholder="http://..."><br />
					<label for="link_title">TITLE:</label><input type="text/submit/hidden/button" name="title" id="new_link_title">
	<input type="submit" value="add link">
				</form>
			</div>
		</div>
		<div id="messages">

		</div>
	</div>
	<div id="viewer">
		<iframe src="{{url}}" id="ifr"></iframe>
	</div>
</div>
</script>

<script id="user_template" type="text/html"> 
<li id="{{ gid }}">{{name}}</li>
</script>

<script id="link_template" type="text/html"> 
<li id="{{ gid }}">{{title}}</li>
</script>

<script type="text/javascript" charset="utf-8">
	init = function(){
		var room, room_data;
		room_data = {title:'Vimeo',url:'http://player.vimeo.com/video/24380624?api=1'};
		// room_data = {title:'Apple',url:'http://www.apple.com'};
		room = ich.room_template(room_data);
		$('body').append(room);
	}
	new_link = function(title,url){
		link = new gp_models.link({title:title,url:url});
		console.warn(link);
	}
</script>
</head>
<body id="body" onload="init();">
</body>